entrypoint = "client/src/main.jsx"
modules = ["nodejs-20"]
run = "cd client && npm install && npm run dev -- --port 3000"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80
